#shopify-section-header {
    margin-top: -81px;
}
.site-header {
    position: relative;
    padding: 0 55px;
    top: 80px;
}
.site-header__mobile-nav {
    background: none;
}
#SiteNav a {
    color: #fff;
}
.site-header__icons-wrapper button {
    color: #fff;
}
.site-header__icons-wrapper a {
    color: #fff;
}



.collection_brand_logo {
    background: blue;
    position: relative;
    top: -33vh;
    left: 15px;
}
.collection-grid-item__title {
    width: 50%;
    top: 85%;
}